* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-title: #333333;
    --color1: #F2D1B3;
    --color2: #D96055;
    --color3: #ffffff;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    background-color: var(--color2);
}

.banner {
    background-image: url('../media/english-class-teacher-lari-oliveira.jpg');
    width: 100%;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    background-color: var(--color2);
    color: var(--color3);
    padding: 15px;
}

section {
    padding: 30px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--text-title);
}
.about .card {
    width: 100%;
    margin-top: 20px;
}

.about > .card .btn {
    border: 1px solid var(--color2);
    color: var(--color2);
    padding: 20px 40px;
    transition: .3s;
}

.about > .card .btn:hover {
    background-color: var(--color2);
    color: var(--color3);
    transition: color 1s ease-in-out;
}

.insights {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.insights h2 {
    background-color: var(--color2);
    border-radius: 10px;
    padding: 20px;
    color: var(--color3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.insights h2 span {
    color: var(--color1);
}

.mabi {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--color2);
    background-color: var(--color3);
    color: var(--text-title);
}

.mabi h1 {
    text-align: center;
}

.call-to-action {
    background-color: transparent;
    border: 1px solid var(--color2);
    color: var(--color2);
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 10px;
    margin-top: 20px;
    transition: 0.3s;
    width: 100%;
    text-align: center;
    transition: color 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

.call-to-action::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%; /* Começa sem preenchimento */
    height: 100%;
    background-color: var(--color2);
    transition: width 0.4s ease-in;
    z-index: -1; /* Fica atrás do texto */
}
.call-to-action:hover{
    color: var(--color3);
}
.call-to-action:hover::before {
    width: 100%; /* Preenche o botão da esquerda para a direita */
}

.certifications {
    position: relative;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.certifications .col {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color2);
    border-radius: 10px;
    margin: 20px;
    flex-wrap: wrap;
    padding: 20px; 
}

.certifications .col i {
    color: var(--color2);
    font-size: 4rem;
}

.certifications h2 {
    font-size: 1.8rem;
}

.certifications .col:hover {
    transition: .3s;
    background-color: var(--color2);
    color: var(--color3);
}
.certifications .col:hover i {
    color: var(--color3);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    font-size: 1rem;
    background-color: var(--color2);
    color: var(--color3);
}

@media only screen and (min-width: 868px) {
    .about > .card {
        width: 70%;
    }
    .mabi {
        width: 70%;
    }
    .insights {
        display: flex;
        flex-direction: row;
    }
    .insights h2 {
        margin: 50px;
    }
    .certifications {
        width: 70%;
    }
    .call-to-action {
        text-align: center;
        width: 70%;
    }
}